.posts
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 80px 0

  &__container
    +container()
    text-align: center
    position: relative

    +bp(lg, max)
      padding: 0

  &__title
    z-index: 1
    color: #000
    font-size: 23px
    position: relative
    margin-bottom: 80px
    font-family: $font-secondary

    +bp(sm)
      font-size: 30px

    +bp(lg)
      margin-bottom: 100px

      +bp(lg, max)
      padding: 0 15px

    &:before
      content: ""
      left: 0
      right: 0
      bottom: 0
      width: 25%
      height: 1px
      z-index: -1
      margin: 0 auto
      position: absolute
      background-color: #000

    &:after
      content: ""
      top: -25px
      left: 0
      right: 0
      z-index: -2
      height: 90px
      margin: 0 auto
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush.png)

      +bp(lg)
        top: -38px
        height: 125px

  &__description
    color: #000
    margin: 0 auto
    font-size: 18px
    max-width: 900px
    margin-bottom: 40px

    +bp(lg)
      line-height: 25px
      margin-bottom: 80px

    +bp(xl)
      line-height: 28px

    +bp(lg, max)
      padding: 0 15px

    p
      margin: 1em 0

    &-line
      color: #000
      margin: 0 auto
      font-size: 18px
      max-width: 700px
      position: relative
      margin-bottom: 60px
      background-size: contain
      background-position: center
      background-image: url(../images/splash2.jpg)

      +bp(lg)
        padding: 90px 0
        line-height: 25px
        margin-top: -60px

      +bp(xl)
        line-height: 28px

      +bp(lg, max)
        padding: 0 15px

      &:after,
      &:before
        content: ""
        left: 0
        right: 0
        z-index: 1
        width: 25%
        height: 1px
        margin: 0 auto
        position: absolute
        background-color: #000

      &:after
        top: -20px

        +bp(lg)
          top: 50px

      &:before
        bottom: -25px

        +bp(lg)
          bottom: 50px

      p
        margin: 1em 0

  &__list
    width: 100%
    display: flex
    flex-wrap: wrap
    position: relative
    align-items: center
    justify-content: space-around

    &-item
      width: 85%
      min-width: 200px
      overflow: hidden
      margin: 30px auto
      position: relative

      +bp(sm)
        width: calc(85% / 2 - 10px)

      +bp(lg)
        width: 27vw
        max-width: 300px
        margin: 50px 20px

        &:nth-child(2n)
          transform: translateY(-40px)

        &:nth-child(4n)
          transform: translateX(30px)

        &:nth-child(5n)
          transform: translateY(40px)

        &:nth-child(6n)
          transform: translateY(-40px)

      +bp(xl)
        width: 100%
        margin: 50px 40px

      +bp(1300)
        margin: 50px

      &:hover:before
        width: 100%

      &:hover &__box
        background-color: #fff

      &:hover &__title
        font-weight: 500

      &:before
        content: ""
        left: 0
        right: 0
        bottom: 0
        z-index: 5
        width: 0
        height: 2px
        margin: 0 auto
        position: absolute
        background-color: $color-primary
        +transition(300ms)

      picture
        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(lg, max)
          width: 100%

      &__box
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        margin: auto
        padding: 10px 5px
        position: absolute
        background-color: rgba(#fff, 0.9)
        +transition(300ms)

        +bp(lg)
          padding-bottom: 15px

      &__title
        color: #373737
        font-size: 18px

        +bp(sm)
          font-size: 20px
          line-height: 24px
