.social
  width: 100%
  padding: 50px 0
  position: relative

  &__container
    +container()
    display: flex
    flex-wrap: wrap
    text-align: center
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center

    +bp(md)
      flex-direction: row

    +bp(lg)
      justify-content: space-around

  &__box
    width: 100%
    height: 250px
    display: flex
    padding-top: 32px
    position: relative
    align-items: center
    flex-direction: column
    border: 8px solid #f5f5f5
    justify-content: flex-start
    box-shadow: 0px 0px 0px 1px #e4e4e4

    +bp(400)
      width: 300px

    +bp(lg, max)
      margin: 20px

  &__title
    z-index: 1
    color: #000
    font-size: 25px
    position: relative
    margin-bottom: 12px
    font-family: $font-secondary

    &:before
      content: ""
      top: -5px
      left: -28px
      z-index: -1
      width: 223px
      height: 30px
      margin: 0 auto
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush2.png)

  &__description
    color: #575757
    font-size: 16px
    margin-bottom: 30px

  &__form
    width: 100%
    margin: 0 auto
    max-width: 220px
    position: relative

    &-input
      outline: 0
      width: 100%
      color: #000
      padding: 10px
      display: block
      font-size: 16px
      position: relative
      margin-bottom: 10px
      border: 1px solid #e4e4e4
      background-color: #f5f5f5

      +bp(lg, max)
        text-align: center

      +placeholder
        color: #000

      &.error
        background-color: $color-danger

    label.error
      top: 0
      left: 0
      width: 100%
      font-size: 15px
      text-align: center
      position: absolute
      color: $color-danger
      transform: translateY(-18px)

      +bp(md, max)
        display: none !important

    &-submit
      border: 0
      outline: 0
      width: 100%
      color: #fff
      font-size: 18px
      font-weight: 500
      padding: 10px 5px
      text-align: center
      letter-spacing: 2px
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      background-color: $color-primary
      +transition(300ms)

      &:hover
        background-color: #0c0f13

  &__list
    width: 100%
    display: flex
    margin-top: 20px
    position: relative
    align-items: center
    justify-content: center

    &-item
      color: #c8c8c8
      text-align: center
      position: relative
      display: inline-block

      &:hover i
        color: $color-primary

      &:hover p
        opacity: 1
        transform: translateX(-50%) translateY(20px)

      & + &
        margin-left: 50px

      i
        display: block
        font-size: 35px
        +transition(300ms)

      p
        left: 50%
        bottom: 0
        opacity: 0
        color: #575757
        display: block
        font-size: 12px
        position: absolute
        text-transform: uppercase
        transform: translateX(-50%) translateY(25px)
        +transition(300ms)

  &__marketing
    max-width: 300px
    position: relative

    +bp(lg, max)
      margin-top: 20px

    a
      display: block

    &-image
      display: block
      position: relative
