.breadcrumbs
  .breadcrumbs__container
    ul.breadcrumbs__list
      li
        a(href="#") Descobertas
      li
        a(href="#") Cidades
      li
        a(href="#") Paris
      li
        a(href="#") Airbnb Paris: superlista com opções a partir de 34£ por noite
