footer.footer
  .footer__container
    .footer__content
      .footer__box
        p.footer__title Vem comigo nas redes sociais

        .footer__social
          a.footer__social-item(href="https://www.facebook.com/vemcomigofr" title="Facebook" target="_blank")
            i.icon-facebook-circle
            p.hidden Facebook

          a.footer__social-item(href="https://www.instagram.com/vemcomigofr" title="Instagram" target="_blank")
            i.icon-instagram-circle
            p.hidden Instagram

          a.footer__social-item(href="#" title="Pinterest" target="_blank")
            i.icon-pinterest-circle
            p.hidden Pinterest

      .footer__box
        a.footer__logo(href="index.html" title=title)
          svg.footer__logo-icon
            use(xlink:href="assets/images/icons.svg#logo")

        .footer__menu
          a.footer__menu-item(href="sobre.html" title="Sobre") Sobre
          a.footer__menu-item(href="contato.html" title="Contato") Contato

      .footer__box
        p.footer__title O que você procura?

        form.footer__search(action="#")
          input.footer__search-input(type="search" name="s"  placeholder="Pesquisar..." required)

          button.footer__search-submit(type="submit")
            i.icon-search
            p.hidden Enviar

    p.footer__copyright © Copyright Vem Comigo 2018 - Todos os direitos reservados | desenvolvido por <a href="https://www.linkedin.com/in/rafaelaborges" target="_blank"><strong>Rafaela Borges</strong></a>
