header.header
  .header__container
    a.header__logo(href="index.html" title=title)
      svg.header__logo-icon
        use(xlink:href="assets/images/icons.svg#logo-mini")

    nav
      ul.header__menu
        li.logo
          a.header__logo(href="index.html" title=title)
            svg.header__logo-icon
              use(xlink:href="assets/images/icons.svg#logo-mini")
        li
          a.header__menu-item(href="planejando-viagem.html" title="Planejando a Viagem") Planejando a Viagem

        li
          span.header__menu-item(title="Top Destinos") Top Destinos

          ul.header__submenu
            li
              a.header__submenu-item(href="top-destinos.html" title="Paris") Paris

            li
              a.header__submenu-item(href="top-destinos.html" title="Londres") Londres

            li
              a.header__submenu-item(href="top-destinos.html" title="Barcelona") Barcelona

        li
          span.header__menu-item(title="Descobertas") Descobertas

          ul.header__submenu
            li
              a.header__submenu-item(href="descobertas.html" title="França") França

            li
              a.header__submenu-item(href="descobertas.html" title="Reino Unido") Reino Unido

            li
              a.header__submenu-item(href="descobertas.html" title="Espanha") Espanha

        li
          a.header__menu-item(href="roteiros.html" title="Roteiros") Roteiros

        li
          a.header__menu-item(href="contato.html" title="Contato") Contato

        li
          a.header__menu-item(href="sobre.html" title="Sobre") Sobre

    form.header__search(action="#")
      button.header__search-back
        i.icon-arrow-left

      input.header__search-input(type="search" name="s" placeholder="Pesquisar..." required)

      button.header__search-submit(type="submit")
        i.icon-search
        p.hidden Enviar

    .header__box
      .header__opensearch
        i.icon-search

      .header__navigation
        span
