.pagination
  span.page-numbers.prev
    i.icon-arrow-left
  span.page-numbers.current 1
  a.page-numbers(href="#" title="2") 2
  a.page-numbers(href="#" title="3") 3
  span.page-numbers.dots …
  a.page-numbers(href="#" title="5") 5
  a.page-numbers.next(href="#" title="Próximo")
    i.icon-arrow-right
