section.contact
  .contact__header
    .contact__header-container
      .contact__header-box
        h1.contact__header-title Contato
        .contact__header-subtitle Rafaela Borges

      .contact__header-box
        img.contact__header-avatar(src="assets/images/contact/contact-avatar.png" alt="avatar")

  .contact__container
    p.contact__description Publicidade, parcerias, colaborações, dúvidas ou só pra dar um Oi:<br>email: <a href="mailto:contato@vemcomigo.fr">contato@vemcomigo.fr</a>

    form.contact__form(action="#")
      .contact__col--6
        input.contact__form-input(type="text" name="nome" placeholder="Nome" required)

      .contact__col--6
        input.contact__form-input(type="email" name="email" placeholder="Email" required)

      input.contact__form-input(type="text" name="assunto" placeholder="Assunto" required)
      textarea.contact__form-textarea(name="mensagem" placeholder="Mensagem" required)

      button.contact__form-button(type="submit") Enviar
