.author
  width: 100%
  margin-top: 15px
  position: relative
  background-color: #fff

  +bp(md)
    margin-top: 15px

  &__container
    +container(1100px)
    position: relative

    +bp(md, max)
      text-align: center

  &__avatar
    width: 60px
    height: 60px
    overflow: hidden
    border-radius: 50px
    display: inline-block
    vertical-align: middle
    background-size: cover
    background-position: center

  &__box
    display: block

    +bp(md)
      margin-left: 15px
      display: inline-block
      vertical-align: middle

    +bp(md, max)
      margin-top: 8px

  &__title
    color: #92a3ba
    font-size: 17px

  &__list
    margin-top: 6px
    position: relative

    &-item
      color: #939393
      font-size: 15px
      position: relative
      display: inline-block
      vertical-align: middle

      & + &
        margin-left: 22px

      & + &:before
        content: "|"
        top: -1px
        left: -15px
        position: absolute
