.comments
  width: 100%
  position: relative
  background-color: #fff

  &__container
    position: relative
    +container(1100px, 60px 15px)

  &__title
    font-size: 20px
    font-weight: bold
    margin-bottom: 30px

  &__list
    width: 100%
    position: relative

    &-item
      width: 100%
      position: relative

      & + &
        margin-top: 35px

      .comments__list
        width: 100%
        margin-top: 30px
        padding-left: 30px
        position: relative

      &__content
        width: 100%
        display: flex
        padding: 8px 5px
        position: relative
        border-radius: 5px
        padding-right: 35px
        border: 1px solid transparent
        +transition(300ms)

        &.is-active
          border-color: #ccc

      &__avatar
        width: 60px
        height: 60px
        overflow: hidden
        border-radius: 50px
        background-size: cover
        background-position: center

      &__box
        margin-left: 25px
        width: calc(100% - 85px)

      &__title
        color: #92a3ba
        font-size: 16px
        max-width: 200px
        overflow: hidden
        font-weight: bold
        white-space: nowrap
        display: inline-block
        vertical-align: middle
        text-overflow: ellipsis

      &__date
        color: #939393
        font-size: 14px
        margin-left: 10px
        display: inline-block
        vertical-align: middle

      &__description
        color: #939393
        display: block
        font-size: 18px
        margin-top: 5px
        line-height: 22px

      &__reply
        top: 5px
        right: 5px
        color: #d5d5d5
        font-size: 18px
        cursor: pointer
        position: absolute
        +transition(300ms)

        &:hover
          color: #92a3ba

        i
          display: block
          position: relative

  &__form
    width: 100%
    position: relative
    background-color: #f5f5f5

    &-container
      position: relative
      +container(620px, 60px 15px)

    &-head
      width: 100%
      text-align: center
      position: relative
      margin-bottom: 30px

    &-title
      font-size: 20px
      font-weight: bold
      margin-bottom: 10px

    &-subtitle
      font-size: 15px

    &-input,
    &-textarea
      outline: 0
      width: 100%
      padding: 15px
      font-size: 14px
      line-height: 15px
      margin-bottom: 12px
      border: 1px solid #000
      text-transform: uppercase
      background-color: transparent

      +bp(lg, max)
        text-align: center

      +placeholder
        color: #000

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-textarea
      resize: none
      height: 205px

    &-button
      border: 0
      outline: 0
      width: 100%
      display: block
      font-size: 14px
      padding: 16px 5px
      text-align: center
      text-transform: uppercase
      background-color: #b1c8e6
      +transition(300ms)

      &:hover
        background-color: #8eaeda

  &__col--6
    width: 100%
    position: relative

    +bp(lg)
      width: 49%
      display: inline-block

      & + &
        margin-left: 8px
