.post
  width: 100%
  padding: 50px 0
  position: relative

  &__content
    width: 100%
    position: relative

  &__container
    +container(1100px)
    position: relative

  &__subtitle
    display: block
    font-size: 24px
    font-weight: 500
    margin-bottom: 15px

    +bp(md, max)
      text-align: center

  &__navigation
    width: 100%
    display: block
    padding: 30px 10px
    position: relative
    margin-bottom: 50px
    background-color: #f5f5f5

    +bp(md)
      padding: 30px

    +bp(lg)
      padding: 55px 70px

    +bp(md, max)
      text-align: center

    li
      position: relative

      &:before
        content: "•"
        color: #92a3ba
        font-size: 22px
        margin-right: 5px
        position: relative
        display: inline-block
        vertical-align: bottom

        +bp(lg)
          font-size: 26px
          margin-right: 15px

    li + li
      margin-top: 15px

    &-item
      color: #000
      font-size: 19px
      font-weight: 500
      display: inline-block
      +transition(300ms)

      +bp(lg)
        font-size: 22px

      &:hover
        color: #92a3ba

  &__description
    color: #000
    font-size: 19px
    line-height: 26px
    position: relative

    +bp(sm)
      font-size: 20px

    +bp(md, max)
      text-align: center

    dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul
      margin: 1em 0

    a
      outline: 0
      color: #000
      padding: 0 4px
      border-bottom: 2px solid #d1d8e2
      +transition(300ms)

      &:hover
        background-color: #d1d8e2

    h2
      font-size: 30px
      font-weight: 500

      +bp(sm)
        font-size: 32px

      +bp(lg)
        font-size: 36px

      +bp(lg, max)
        margin-bottom: 15px

    h3
      color: #8093ad
      font-size: 24px
      font-weight: 500

      +bp(sm)
        font-size: 26px

      +bp(lg)
        font-size: 28px

      +bp(md, max)
        margin-bottom: 15px

    img
      +bp(lg, max)
        display: block
        margin: 15px auto

    .alignleft
      +bp(md)
        float: left
        margin-right: 30px

    .alignright
      +bp(md)
        float: right
        margin-left: 30px

    .aligncenter
      display: block
      margin-left: auto
      margin-right: auto
      text-align: center

    strong
      font-weight: bold

    ol
      list-style: none
      position: relative

      li
        position: relative
        counter-increment: item

        &:before
          content: counter(item) "."
          color: #92a3ba
          font-weight: 500
          margin-right: 15px
          position: relative
          display: inline-block
          vertical-align: bottom

      li + li
        margin-top: 15px

    ul
      position: relative

      li
        position: relative

        &:before
          content: "•"
          color: #92a3ba
          font-size: 26px
          margin-right: 15px
          position: relative
          display: inline-block
          vertical-align: bottom

      li + li
        margin-top: 15px

    blockquote
      color: #637da0
      margin: 0 auto
      font-size: 28px
      text-align: left
      max-width: 785px
      font-style: italic
      position: relative
      padding: 40px 0 15px 20px
      border-left: 1px solid #637da0

      +bp(lg)
        font-size: 32px
        line-height: 36px
        padding: 60px 0 15px 40px

      &:before
        content: "“"
        top: 0
        left: 20px
        color: #b7cce8
        display: block
        font-size: 55px
        position: absolute
        font-weight: bold
        font-style: normal

        +bp(lg)
          top: 25px
          left: 40px
          font-size: 72px
