.relational
  width: 100%
  padding: 50px 0
  position: relative
  background-color: #f5f5f5

  &__container
    +container(1130px, 0)
    position: relative

  &__title
    font-size: 16px
    font-weight: 300
    text-align: center
    position: relative
    letter-spacing: 1px
    margin-bottom: 50px
    text-transform: uppercase

    &:before
      content: ""
      left: 0
      right: 0
      bottom: -10px
      width: 223px
      height: 5px
      margin: auto
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush8.png)

  &__list
    width: 100%
    text-align: center
    position: relative

    &-item
      margin: 10px
      overflow: hidden
      position: relative
      display: inline-block
      width: calc(100% / 2 - 20px)

      +bp(md)
        margin: 20px
        width: calc(100% / 3 - 40px)

        +bp(lg, max)
          &:nth-child(4)
            display: none

      +bp(lg)
        width: calc(100% / 4 - 40px)


      &:hover:before
        width: 100%

      &:hover &__box
        background-color: #fff

      &:hover &__title
        font-weight: 500

      &:before
        content: ""
        left: 0
        right: 0
        bottom: 0
        z-index: 5
        width: 0
        height: 2px
        margin: 0 auto
        position: absolute
        background-color: $color-primary
        +transition(300ms)

      picture
        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(lg, max)
          width: 100%

      &__box
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        margin: auto
        padding: 10px 5px
        position: absolute
        padding-bottom: 15px
        background-color: rgba(#fff, 0.9)
        +transition(300ms)

      &__title
        color: #373737
        font-size: 18px
        text-align: center
