.share
  z-index: 9999
  position: relative

  +bp(xl)
    top: 60px
    left: 20px
    position: absolute

    &.is-active
      top: 120px
      position: fixed

  +bp(1300)
    left: 40px

  +bp(1400)
    left: 80px

  +bp(1500)
    left: 100px

  +bp(lg, max)
    left: 0
    bottom: 0
    width: 100%
    position: fixed
    background-color: #fff
    transform: translateY(100%)
    +transition(300ms)

    &.is-active
      transform: translateY(0)

  &__list
    width: 100%
    position: relative

    +bp(xl, max)
      display: flex

    &-item
      outline: 0
      color: #d1d1d1
      display: block
      overflow: hidden
      text-align: center
      position: relative
      border: 1px solid #d1d1d1
      +transition(300ms)

      +bp(xl)
        width: 40px
        height: 40px
        line-height: 45px
        border-radius: 50px

      +bp(xl, max)
        width: 20%
        padding: 20px 0
        display: inline-block

        & + &
          border-left: 0

      &:hover
        +bp(xl)
          color: #728aa9
          border-color: #728aa9

        +bp(xl, max)
          color: #fff
          background-color: #728aa9

      & + &
        +bp(xl)
          margin-top: 10px

      i
        font-size: 24px

        +bp(lg)
          font-size: 20px
