.featured
  width: 100%
  padding: 50px 0
  position: relative
  background-position: center top
  background-image: url(../images/destiny/featured-bg.jpg)

  +bp(lg)
    padding-top: 60px
    padding-bottom: 30px

  +bp(lg, max)
    background-size: cover

  &__container
    +container()
    position: relative

  &__head
    width: 100%
    display: flex
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center

    +bp(lg)
      flex-direction: row
      align-items: flex-start

  &__box
    text-align: center
    position: relative

    & + &
      +bp(lg)
        margin-left: 60px

      +bp(xl)
        margin-left: 80px

      +bp(1400)
        margin-left: 140px

  &__icon
    position: relative
    margin-bottom: 20px
    display: inline-block

    +bp(lg)
      margin-top: 40px

  &__title
    z-index: 1
    color: #000
    font-size: 40px
    position: relative
    font-family: $font-secondary

    +bp(lg)
      font-size: 40px

    +bp(xl)
      font-size: 47px

    +bp(1400)
      font-size: 55px

    &:before
      content: ""
      top: 0
      bottom: 0
      left: 50%
      z-index: -1
      margin: auto
      width: 248px
      height: 27px
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush3.png)
      transform: translateX(-50%)

  picture
    display: none
    overflow: hidden
    position: relative

    +bp(lg)
      height: 400px
      display: block
      max-width: 530px

    +bp(xl)
      height: 450px
      max-width: 100%

  &__image
    display: block
    position: relative

    +bp(lg, max)
      margin-top: 50px

  &__description
    color: #000
    font-size: 18px
    max-width: 700px
    margin: 30px auto
    text-align: center
    position: relative
    margin-top: 60px

    +bp(lg)
      margin: 0 auto
      padding: 90px 0
      margin-top: 70px
      line-height: 25px

    +bp(xl)
      line-height: 28px

    +bp(lg, max)
      padding: 0 15px

    &:after,
    &:before
      content: ""
      left: 0
      right: 0
      z-index: 1
      width: 25%
      height: 1px
      margin: 0 auto
      position: absolute
      background-color: #000

    &:after
      top: -20px

      +bp(lg)
        top: 50px

    &:before
      bottom: -25px

      +bp(lg)
        bottom: 50px

    p
      margin: 1em 0
