.destiny
  width: 100%
  padding: 50px 0
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 100px 0

  &--gray
    z-index: 2
    background-color: #f5f5f5
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.40)

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    color: #6c6c6c
    padding: 12px 0
    font-size: 18px
    font-weight: 300
    line-height: 27px
    margin-bottom: 15px
    background-size: contain
    text-transform: uppercase
    background-position: center
    background-image: url(../images/brush5.png)

    +bp(400)
      font-size: 20px

    +bp(lg)
      margin-bottom: 80px

    i
      font-size: 28px
      margin-right: 8px
      color: $color-primary
      display: inline-block
      vertical-align: bottom

  &__link
    color: #000
    font-size: 14px
    padding: 10px 35px
    letter-spacing: 1px
    display: inline-block
    border: 1px solid #000
    text-transform: uppercase
    +transition(300ms)

    &:hover
      color: #fff
      border-color: $color-primary
      background-color: $color-primary

  &__list
    width: 100%
    display: flex
    flex-wrap: wrap
    position: relative
    align-items: center
    justify-content: space-around

    &-item
      width: 85%
      min-width: 200px
      overflow: hidden
      margin: 30px auto
      position: relative

      +bp(sm)
        width: calc(85% / 2 - 10px)

      +bp(lg)
        width: 27vw
        max-width: 300px
        margin: 50px 20px

        &:nth-child(2n)
          transform: translateY(-40px)

        &:nth-child(4n)
          transform: translateX(30px)

        &:nth-child(5n)
          transform: translateY(40px)

        &:nth-child(6n)
          transform: translateY(-40px)

      +bp(xl)
        width: 100%
        margin: 50px 40px

      +bp(1300)
        margin: 50px

      +bp(md, max)
        &:nth-child(2),
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6),
          display: none

      &:hover:before
        width: 100%

      &:hover &__box
        background-color: #fff

      &:hover &__title
        font-weight: 500

      &:before
        content: ""
        left: 0
        right: 0
        bottom: 0
        z-index: 5
        width: 0
        height: 2px
        margin: 0 auto
        position: absolute
        background-color: $color-primary
        +transition(300ms)

      picture
        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(lg, max)
          width: 100%

      &__box
        left: 0
        right: 0
        bottom: 0
        z-index: 1
        margin: auto
        padding: 10px 5px
        position: absolute
        background-color: rgba(#fff, 0.9)
        +transition(300ms)

        +bp(lg)
          padding-bottom: 15px

      &__title
        color: #373737
        font-size: 18px

        +bp(sm)
          font-size: 20px
          line-height: 24px
