.related
  width: 100%
  padding: 50px 0
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 100px 0

  &__container
    +container(900px)
    text-align: center
    position: relative

    +bp(xl)
      max-width: 90%

    +bp(1500)
      max-width: $max-width

    +bp(2400)
      max-width: 1780px

    +bp(lg, max)
      padding: 0

  &__title
    z-index: 1
    color: #000
    font-size: 23px
    position: relative
    margin-bottom: 80px
    font-family: $font-secondary

    +bp(sm)
      font-size: 30px

    +bp(lg)
      margin-bottom: 100px

      +bp(lg, max)
      padding: 0 15px

    &:before
      content: ""
      left: 0
      right: 0
      bottom: 0
      z-index: -1
      height: 1px
      width: 110px
      margin: 0 auto
      position: absolute
      background-color: #000

      +bp(sm)
        width: 140px

    &:after
      content: ""
      top: -25px
      left: 0
      right: 0
      z-index: -2
      height: 90px
      margin: 0 auto
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush4.png)

      +bp(lg)
        top: -38px
        height: 125px

  &__wrapper
    width: 100%
    position: relative

  &__list
    width: 100%
    position: relative

    &-item
      display: flex
      overflow: hidden
      position: relative
      align-items: center
      box-sizing: border-box
      justify-content: center

      +bp(lg)
        &:hover h3
          font-weight: 400

        &:hover picture
          transform: scale(1.1) rotateZ(1deg)

      +bp(lg, max)
        &.swiper-slide-active h3
          font-weight: 400

        &.swiper-slide-active picture
          transform: scale(1.1) rotateZ(1deg)

      &__title
        left: 0
        right: 0
        z-index: 5
        color: #000
        width: auto
        margin: auto
        display: block
        font-size: 18px
        font-weight: 300
        max-width: 200px
        padding: 15px 5px
        text-align: center
        position: absolute
        text-transform: uppercase
        background-color: rgba(#fff, 0.9)
        transition: background 300ms ease

        +bp(400)
          font-size: 19px

        +bp(sm)
          font-size: 22px
          padding: 20px 5px

      picture
        width: 100%
        display: block
        +transition(300ms)

      &__image
        width: 100%
        display: block
        position: relative

  &__nav
    top: 0
    bottom: 0
    z-index: 10
    margin: auto
    height: 54px
    display: none
    font-size: 54px
    cursor: pointer
    position: absolute
    +transition(300ms)

    +bp(lg)
      display: block

    &:hover
      color: $color-primary

    &--prev
      left: 0
      transform: translateX(-60px)

      +bp(1600)
        transform: translateX(-80px)

    &--next
      right: 0
      transform: translateX(60px)

      +bp(1600)
        transform: translateX(80px)
