.search
  width: 100%
  padding: 50px 0
  position: relative
  background-color: #acbacc

  &__container
    +container()
    position: relative

  &__title
    color: #374e6c
    font-size: 16px
    margin-bottom: 10px
    text-transform: uppercase

    +bp(sm)
      font-size: 17px

    i
      color: #fff
      margin-right: 10px
      vertical-align: top
      display: inline-block

  &__form
    width: 100%
    position: relative

    &-input
      border: 0
      outline: 0
      color: #fff
      width: 100%
      display: block
      font-size: 21px
      padding: 10px 42px 10px 5px
      border-bottom: 1px solid #fff
      background-color: transparent
      +transition(300ms)

      +bp(sm)
        font-size: 26px

      +bp(lg)
        font-size: 30px

      +placeholder
        color: #fff

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-submit
      top: 0
      right: 0
      bottom: 0
      border: 0
      outline: 0
      z-index: 10
      margin: 0 auto
      padding: 0 10px
      font-size: 22px
      position: absolute
      background-color: transparent
