.notfound
  .notfound__container
    img.notfound__avatar(src="assets/images/notfound.png", alt="404")
    .notfound__box
      .notfound__title Oops!
      .notfound__subtitle Não consegui encontrar a página que você procura...

      form.notfound__form(action="#")
        .notfound__form-title
          i.icon-search
          | Que tal tentar novamente?

        .notfound__form-box
          input.notfound__form-input(type="search" name="s" placeholder="Pesquisar..." required)

          button.notfound__form-submit(type="submit")
            i.icon-next

      a.notfound__link(href="index.html") Voltar ao início
