.notfound
  width: 100%
  position: relative
  padding-bottom: 30px

  &__container
    +container()
    display: flex
    position: relative
    align-items: center
    flex-direction: column
    justify-content: center

    +bp(lg)
      flex-direction: row

    +bp(lg, max)
      text-align: center

  &__avatar
    position: relative

  &__box
    position: relative

    +bp(lg)
      max-width: 400px
      margin-left: 80px

  &__title
    color: #6d86a6
    font-size: 70px
    font-weight: 300
    margin-bottom: 8px

  &__subtitle
    color: #6d86a6
    font-size: 28px
    font-weight: 300

  &__form
    width: 100%
    margin-top: 50px
    position: relative

    &-title
      color: #888888
      font-size: 14px
      margin-bottom: 15px
      text-transform: uppercase

      i
        color: #6d86a6
        font-size: 16px
        margin-right: 10px
        display: inline-block
        vertical-align: bottom

    &-box
      position: relative

    &-input
      border: 0
      outline: 0
      width: 100%
      color: #818181
      font-size: 18px
      font-weight: 300
      line-height: 30px
      font-family: $font-primary
      border-bottom: 1px solid #bdbdbd

      +bp(lg)
        width: calc(100% - 39px)

      +bp(lg, max)
        text-align: center
        padding: 0 37px

      +placeholder
        color: #818181

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-submit
      border: 0
      outline: 0
      padding: 0
      width: 35px
      height: 35px
      color: #637da0
      font-size: 20px
      text-align: center
      background-color: transparent

      +bp(lg, max)
        top: -3px
        right: 0
        z-index: 10
        position: absolute

  &__link
    width: 100%
    color: #757474
    display: block
    padding: 15px 0
    font-size: 14px
    margin-top: 60px
    text-align: center
    letter-spacing: 2px
    text-transform: uppercase
    background-color: #d5e2f2
    +transition(300ms)

    &:hover
      color: #fff
      background-color: #a6b5c9

