section.cities
  .cities__container
    .cities__list
      a.cities__list-item(href="top-destinos.html" title="Paris")
        .cities__list-item__box
          h2.cities__list-item__title Paris

          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/paris-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/paris-medium-large.jpg" alt="item")

      a.cities__list-item(href="top-destinos.html" title="Londres")
        .cities__list-item__box
          h2.cities__list-item__title Londres

          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/londres-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/londres-medium-large.jpg" alt="item")

      a.cities__list-item(href="top-destinos.html" title="Barcelona")
        .cities__list-item__box
          h2.cities__list-item__title Barcelona

          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/barcelona-medium-large.jpg" alt="item")
