.hero
  .hero__list.swiper-container
    .swiper-wrapper
      .hero__list-item.swiper-slide
        a.hero__list-item__link(href="post.html" title="Paris em 3 dias: guia completo para iniciantes e cheio de dicas.")
          p.hero__list-item__title Paris em 3 dias: guia completo para iniciantes e cheio de dicas.

        picture
          source(media="(max-width: 400px)" srcset="assets/images/data/restaurant-medium.jpg")
          source(media="(max-width: 600px)" srcset="assets/images/data/restaurant-medium-large.jpg")
          source(media="(max-width: 992px)" srcset="assets/images/data/restaurant-full-small.jpg")
          img.hero__list-item__image(src="assets/images/data/restaurant-full-small.jpg" alt="item")
