.newsletter
  .newsletter__container
    img.newsletter__avatar(src="assets/images/newsletter/newsletter-avatar.png", alt="avatar")

    .newsletter__box
      p.newsletter__title As melhores dicas e sugestões de hospedagem em Paris

      p.newsletter__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo con equat Duis aute irure dolor in reprehenderit in voluptate. Exercitation ullamco laboris nisi ut aliquip ex ea commodo con equat Duis aute irure dolor in reprehenderit in voluptate.

      form.newsletter__form(action="#")
        .newsletter__form-box
          input.newsletter__form-input(type="text" name="nome" placeholder="Nome" required)

        .newsletter__form-box
          input.newsletter__form-input(type="email" name="email" placeholder="Email" required)

        button.newsletter__form-submit(type="submit") Assinar
