.photos
  .photos__list.swiper-container
    .swiper-wrapper
      //- each index in [1,2,3]
        a.photos__list-item.swiper-slide(href="#" title="As melhores dicas e sugestões de hospedagem em Paris")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/paris-thumbnail.jpg")
            img.photos__list-item__image(src="assets/images/data/paris-medium.jpg" alt="item")

        a.photos__list-item.swiper-slide(href="#" title="As melhores dicas e sugestões de hospedagem em Londres")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/londres-thumbnail.jpg")
            img.photos__list-item__image(src="assets/images/data/londres-medium.jpg" alt="item")

        a.photos__list-item.swiper-slide(href="#" title="As melhores dicas e sugestões de hospedagem em Barcelona")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-thumbnail.jpg")
            img.photos__list-item__image(src="assets/images/data/barcelona-medium.jpg" alt="item")

      //- a.photos__list-item.swiper-slide(href="#" title="As melhores dicas e sugestões de hospedagem em Paris")
        picture
          source(media="(max-width: 400px)" srcset="assets/images/data/paris-thumbnail.jpg")
          img.photos__list-item__image(src="assets/images/data/paris-medium.jpg" alt="item")
