section.posts
  .posts__container
    p.posts__title Posts mais recentes

    .posts__list
      each index in [1,2,3,4]
        a.posts__list-item(href="post.html" title="As melhores dicas e sugestões de hospedagem em Paris")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/paris-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/paris-medium-large.jpg" alt="item")

          .posts__list-item__box
            h2.posts__list-item__title As melhores dicas e sugestões de hospedagem em Paris

        a.posts__list-item(href="post.html" title="As melhores dicas e sugestões de hospedagem em Londres")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/londres-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/londres-medium-large.jpg" alt="item")

          .posts__list-item__box
            h2.posts__list-item__title As melhores dicas e sugestões de hospedagem em Londres
