section.roadmap
  .roadmap__container
    h2.roadmap__title Roteiros

    p.roadmap__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.

    .roadmap__wrapper
      .roadmap__list.swiper-container
        .swiper-wrapper
          .roadmap__list-item.swiper-slide
            picture
              source(media="(max-width: 400px)" srcset="assets/images/data/paris-medium.jpg")
              img.roadmap__list-item__image(src="assets/images/data/paris-medium-small.jpg" alt="item")

            h3.roadmap__list-item__title 27 Of The Most Delicious Cheap Eats In Paris
            a.roadmap__list-item__link(href="#" title="Ver Mais") Ver Mais

          .roadmap__list-item.swiper-slide
            picture
              source(media="(max-width: 400px)" srcset="assets/images/data/londres-medium.jpg")
              img.roadmap__list-item__image(src="assets/images/data/londres-medium-small.jpg" alt="item")

            h3.roadmap__list-item__title 27 Of The Most Delicious Cheap Eats In Londres
            a.roadmap__list-item__link(href="#" title="Ver Mais") Ver Mais

          .roadmap__list-item.swiper-slide
            picture
              source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-medium.jpg")
              img.roadmap__list-item__image(src="assets/images/data/barcelona-medium-small.jpg" alt="item")

            h3.roadmap__list-item__title 27 Of The Most Delicious Cheap Eats In Barcelona
            a.roadmap__list-item__link(href="#" title="Ver Mais") Ver Mais

      .roadmap__nav.roadmap__nav--prev.icon-arrow-left
      .roadmap__nav.roadmap__nav--next.icon-arrow-right
