body
  overflow-x: hidden
  font-size: $font-size-base
  font-family: $font-primary

  +bp(lg, max)
    padding-top: 65px

::selection
  background-color: #d1d8e2

::-moz-selection
  background-color: #d1d8e2

input:focus,
textarea:focus
  +placeholder
    color: transparent !important

.overlay
  top: 0
  left: 0
  opacity: 0
  width: 100%
  height: 100%
  z-index: 999
  cursor: pointer
  position: fixed
  pointer-events: none
  background-color: rgba(#2e3233, 0.8)
  +transition(300ms)

  &.is-active
    opacity: 1
    pointer-events: all
