@font-face
  font-family: "Rose Of Baltimore"
  src: local("Rose Of Baltimore"), local("RoseOfBaltimore"),
  url("../fonts/RoseOfBaltimore.woff") format("woff")
  font-weight: normal
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Thin"), local("BrandonGrotesque-Thin"),
  url("../fonts/BrandonGrotesque-Thin.woff") format("woff")
  font-weight: 100
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Light"), local("BrandonGrotesque-Light"),
  url("../fonts/BrandonGrotesque-Light.woff") format("woff")
  font-weight: 300
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Regular"), local("BrandonGrotesque-Regular"),
  url("../fonts/BrandonGrotesque-Regular.woff") format("woff")
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Medium"), local("BrandonGrotesque-Medium"),
  url("../fonts/BrandonGrotesque-Medium.woff") format("woff")
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Bold"), local("BrandonGrotesque-Bold"),
  url("../fonts/BrandonGrotesque-Bold.woff") format("woff")
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Brandon Grotesque"
  src: local("Brandon Grotesque Black"), local("BrandonGrotesque-Black"),
  url("../fonts/BrandonGrotesque-Black.woff") format("woff")
  font-weight: 900
  font-style: normal

@font-face
  font-family: "icons"
  src: url("../fonts/icons.woff") format("woff")
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: "icons" !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-messenger:before
  content: "\e914"

.icon-reply:before
  content: "\e913"

.icon-arrow-left:before
  content: "\e900"

.icon-arrow-right:before
  content: "\e901"

.icon-arrow-up:before
  content: "\e902"

.icon-bed:before
  content: "\e903"

.icon-cutlery:before
  content: "\e904"

.icon-facebook:before
  content: "\e905"

.icon-facebook-circle:before
  content: "\e906"

.icon-instagram:before
  content: "\e907"

.icon-instagram-circle:before
  content: "\e908"

.icon-logo:before
  content: "\e909"

.icon-next:before
  content: "\e90a"

.icon-pinterest:before
  content: "\e90b"

.icon-pinterest-circle:before
  content: "\e90c"

.icon-search:before
  content: "\e90d"

.icon-ticket:before
  content: "\e90e"

.icon-twitter:before
  content: "\e90f"

.icon-twitter-circle:before
  content: "\e910"

.icon-whatsapp:before
  content: "\e911"

.icon-whatsapp-circle:before
  content: "\e912"
