.about
  .about__container
    h1.about__title Sobre Mim

    .about__box
      picture
        source(media="(max-width: 400px)" srcset="assets/images/data/about-medium.jpg")
        source(media="(max-width: 600px)" srcset="assets/images/data/about-medium-large.jpg")
        img.about__image(src="assets/images/data/about-full.jpg" alt="item")

    .about__description
      | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      br
      br
      blockquote Donec vitae urna vitae ipsum hendrerit varius. Maecenas ut libero elit. Aliquam ac elit congue, tempus neque posuere. Pulvinar magna mauris nec accumsan dolor.
      br
      br
      | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
      br
      br
      img(src="assets/images/data/about-avatar.png" alt="avatar")
      br
      | Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur.
      br
      br
      strong Publicidade, parcerias, colaborações, dúvidas ou só pra dar um Oi:
      br
      | email: <a href="mailto:contato@vemcomigo.fr">contato@vemcomigo.fr</a>

    .about__copyright <small>Idealizado por</small> Rafaela Borges
