.author
  .author__container
    .author__avatar(style="background-image: url(assets/images/data/about-thumbnail.jpg)")
    .author__box
      .author__title Rafaela Borges
      .author__list
        .author__list-item Publicado em 01/02/2018
        .author__list-item Atualizado em 23/10/2018
