.comments
  .comments__container
    .comments__title 5 Respostas
    .comments__list
      each val, index in [1,2,3,4,5,6]
        .comments__list-item
          .comments__list-item__content
            .comments__list-item__avatar(style="background-image: url(assets/images/data/about-thumbnail.jpg)")
            .comments__list-item__box
              .comments__list-item__title Flor Maryanna
              .comments__list-item__date 01/02/2018
              .comments__list-item__description
                | Eu já usei o Airbnb em Paris e foi uma ótima escolha. Aluguei apto inteiro (apenas um quarto com mini cozinha e banheiro, típico de Paris). Minha host foi ótima, não tive problemas e me senti uma local. Gostei tanto que irei repetir em 2017!

            .comments__list-item__reply(data-id=val title="Responder")
              i.icon-reply

          .comments__list
            .comments__list-item
              .comments__list-item__content
                .comments__list-item__avatar(style="background-image: url(assets/images/data/about-thumbnail.jpg)")
                .comments__list-item__box
                  .comments__list-item__title Flor Maryanna
                  .comments__list-item__date 01/02/2018
                  .comments__list-item__description
                    | Eu já usei o Airbnb em Paris e foi uma ótima escolha. Aluguei apto inteiro (apenas um quarto com mini cozinha e banheiro, típico de Paris). Minha host foi ótima, não tive problemas e me senti uma local. Gostei tanto que irei repetir em 2017!

                .comments__list-item__reply(data-id=val title="Responder")
                  i.icon-reply

              .comments__list
                .comments__list-item
                  .comments__list-item__content
                    .comments__list-item__avatar(style="background-image: url(assets/images/data/about-thumbnail.jpg)")
                    .comments__list-item__box
                      .comments__list-item__title Flor Maryanna
                      .comments__list-item__date 01/02/2018
                      .comments__list-item__description
                        | Eu já usei o Airbnb em Paris e foi uma ótima escolha. Aluguei apto inteiro (apenas um quarto com mini cozinha e banheiro, típico de Paris). Minha host foi ótima, não tive problemas e me senti uma local. Gostei tanto que irei repetir em 2017!

                    .comments__list-item__reply(data-id=val title="Responder")
                      i.icon-reply

  form.comments__form#commentform(action="/wp-comments-post.php" method="post")
    .comments__form-container
      .comments__form-head
        .comments__form-title Para dúvidas, comentários, sugestões ou só para dar um Oi mesmo:
        .comments__form-subtitle O seu endereço de e-mail não será publicado. Campos obrigatórios são marcados com *

      .comments__col--6
        input.comments__form-input(type="text" name="author" placeholder="Nome*" required)

      .comments__col--6
        input.comments__form-input(type="email" name="email" placeholder="Email*" required)

      textarea.comments__form-textarea(name="comment" placeholder="Comentário*" required)

      input(type="hidden" name="comment_post_ID" value="10")
      input#parent(type="hidden" name="comment_parent" value="0")

      button.comments__form-button(type="submit") Enviar
