.hero.hero--post
  .hero__list.swiper-container
    .swiper-wrapper
      .hero__list-item.swiper-slide
        h1.hero__list-item__subtitle Airbnb Paris: superlista com opções a partir de 34€ por noite

        picture
          source(media="(max-width: 400px)" srcset="assets/images/data/paris-medium.jpg")
          source(media="(max-width: 600px)" srcset="assets/images/data/paris-medium-large.jpg")
          img.hero__list-item__image(src="assets/images/data/paris-full-small.jpg" alt="item")
