.post
  .post__container
    .post__subtitle O que você vai encontrar aqui

    ul.post__navigation
      //- li
      //-   a.post__navigation-item(href="#") Seleção de apartamentos do Airbnb
      //- li
      //-   a.post__navigation-item(href="#") Dicas para usar o Airbnb
      //- li
      //-   a.post__navigation-item(href="#") Minha experiência com o Airbnb
      //- li
      //-   a.post__navigation-item(href="#") Desconto exclusivo para sua primeira estadia em Paris

    .post__description
      | O post de hoje é para quem está procurando saber onde ficar em Paris. Já fiz um post com uma <a href="#" target="_blank">seleção de hotéis baratos</a> e agora vou falar de outra possibilidade de hospedagem na Cidade Luz, <strong>Airbnb Paris.</strong>
      | <p>&nbsp;</p>
      | Com mais de 2 milhões de imóveis cadastrados, sempre vão existir aqueles que não valem a pena. Seja pelo valor ou pelo estado que o lugar se encontra. Além disso, escolher certo a região onde ficar em Paris, faz toda a diferença. Então para você não ter dor de cabeça, pesquisei e montei uma superlista com as melhores opções de apartamentos do Airbnb Paris, <strong>com boas localizações e diárias a partir de 34€.</strong>
      | <p>&nbsp;</p>
      | No final do artigo, tem algumas dicas importantes para quando for efetuar uma reserva. Também compartilho a minha experiência pessoal usando o Airbnb.
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      h2 Seleção de apartamentos do Airbnb Paris
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      img.alignright(src="assets/images/data/about-medium.jpg", alt="about")
      h3 Beautiful cosy bedroom Marais-Répu
      | <p>&nbsp;</p>
      | <strong>Valor:</strong> 34€ por noite
      | <p>&nbsp;</p>
      | Alugar apenas um quarto ao invés de uma apê inteiro é uma alternativa econômica para quem não se importa em ficar hospedado com desconhecidos. Eu mesma já fiz isso várias vezes e foi bem tranquilo. Além de sair mais barato, você acaba conhecendo novas pessoas e aprendendo um pouquinhos mais sobre uma outra cultura.
      | <p>&nbsp;</p>
      | No caso dessa sugestão, uma outra vantagem é a sua localização. Está entre dois bairros centrais e bem animados – <a href="#" target="_blank">Le Marais e République.</a> Ambos estão bem servidos de linhas de ônibus e de metrô.
      | <p>&nbsp;</p>
      | <strong>Capacidade:</strong> 2 hóspedes
      | <p>&nbsp;</p>
      | <strong>Onde fica:</strong> entre Marais e République
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>

      img.alignleft(src="assets/images/data/about-medium.jpg", alt="about")
      h3 New Studio at Champs-Élysées
      | <p>&nbsp;</p>
      | <strong>Valor:</strong> 70€ por noite
      | <p>&nbsp;</p>
      | Pertinho da avenida mais famosa de Paris – Avenue des Champs-Élysées – e da chiquetosa rua Faubourg Saint Honoré, é uma verdadeira pechincha. Além disso, o <strong>studio é bem equipado com tudo</strong> que você pode precisar durante uma viagem, incluindo ferro de passar roupas. No segundo andar de um prédio com elevador, o apê acomoda até duas pessoas
      | <p>&nbsp;</p>
      | <strong>Capacidade:</strong> 2 hóspedes
      | <p>&nbsp;</p>
      | <strong>Onde fica:</strong> Champs-Élysées
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>

      img.alignright(src="assets/images/data/about-medium.jpg", alt="about")
      h3 We’ll always have Paris
      | <p>&nbsp;</p>
      | <strong>Valor:</strong> 64€ por noite
      | <p>&nbsp;</p>
      | Com uma varadinha delícia e um chuveiro super moderno, esse apartamento acomoda <strong>até três pessoas</strong>. Mesmo situado nos arredores de uma região movimentada, consegue ser um lugar calmo e perfeito para depois de um dia inteiro batendo perna por Paris.
      | <p>&nbsp;</p>
      | <strong>Capacidade:</strong> 3 hóspedes
      | <p>&nbsp;</p>
      | <strong>Onde fica:</strong> arredores da Avenue Champs-Élysées
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>

      img.alignleft(src="assets/images/data/about-medium.jpg", alt="about")
      h3 Chambre dernier étage Paris centre
      | <p>&nbsp;</p>
      | <strong>Valor:</strong> 95€ por noite
      | <p>&nbsp;</p>
      | Loft arrumadinho com duas camas, cozinha americana, banheiro e uma mini sacada. Localizado no centro de Paris, na região de Châtelet e Les Halles, acomoda bem duas pessoas. O anfitrião responde as dúvidas super rápido e só aceita uma estadia mínima de 3 noites.
      | <p>&nbsp;</p>
      | <strong>Capacidade:</strong> 3 hóspedes
      | <p>&nbsp;</p>
      | <strong>Onde fica:</strong> Châtelet–Les Halles
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>

      h2 Dicas para usar o Airbnb
      | <p>&nbsp;</p>
      ul
        li <strong>Seleção cuidadosa</strong> – Procure por apartamentos com boas fotos e bem avaliados. Veja o que estão falando do imóvel e a taxa de resposta do anfitrião – é possível saber a porcentagem e o tempo médio de resposta. Fique atento as taxas extras, como de limpeza e imposto da cidade, por exemplo.

        li <strong>Conheça os <a href="#" target="_blank">bairros de Paris</a></strong> – As vezes o apartamento parece perfeito, mas está em uma região que não é muito boa – seja pela distância, segurança, residencial demais – ou não tem fácil acesso aos meios de transporte público. Por isso, não reserve nada antes de olhar a localização no Google Maps – Street View e se informar sobre os arredores do imóvel.

        li <strong>Converse com o proprietário</strong> – O Airbnb facilita essa conversa então não a desperdice. É muito importante para você tirar todas as dúvidas e combinar os horários de chegada e saída. Alguns proprietários são bem flexíveis com
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      img.alignleft(src="assets/images/data/about-medium.jpg", alt="about")
      h2 Minha experiência com o Airbnb
      | <p>&nbsp;</p>
      | Quando eu viajo, costumo alugar apartamentos pelo Airbnb. Sempre tive boas experiências. Além do preço ser mais em conta que um quarto de hotel, eu me sinto com mais liberdade e aquela sensação de fazer parte do lugar, como uma moradora. Fora que se você alugar apenas um quarto, tem a chance de conhecer novas pessoas e suas culturas.
      | <p>&nbsp;</p>
      | É claro que nem tudo são flores e existem desvantagens também. Por exemplo, não tem serviço de quarto pra deixar tudo arrumadinho enquanto você está turistando e muito menos um café da manhã te esperando (alguns apês oferecem, mas não são exceções). Contudo, somando os prós e contras, ainda fico com o Airbnb hehe
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      blockquote Donec vitae urna vitae ipsum hendrerit varius. Maecenas ut libero elit. Aliquam ac elit congue, tempus neque posuere. Pulvinar magna mauris nec accumsan dolor.
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      | <p>&nbsp;</p>
      h2 Desconto exclusivo para sua primeira estadia em Paris
      | <p>&nbsp;</p>
      | Caso não tenha usado o Airbnb ainda, você ganha um <strong>crédito de R$ 130,00</strong> na sua primeira reserva através da indicação de um amigo que usa o site. Como eu já usei, consegui um link para você obter esse crédito. >> Crédito de Viagem  do Airbnb Paris. =)
      | <p>&nbsp;</p>
      strong E você, já experimentou usar o site Airbnb? O que achou? <br> Bisous!
