.relational
  .relational__container
    .relational__title Você também pode gostar disso
    .relational__list
      each index in [1,2,3,4]
        a.relational__list-item(href="post.html")
          picture
            img.relational__list-item__image(src="assets/images/data/paris-medium.jpg" alt="item")

          .relational__list-item__box
            h2.relational__list-item__title As melhores dicas e sugestões de hospedagem em Paris
