.share
  .share__list
    a.share__list-item(href="#" target="_blank")
      i.icon-facebook

    a.share__list-item(href="#" target="_blank")
      i.icon-messenger

    a.share__list-item(href="#" target="_blank")
      i.icon-pinterest

    a.share__list-item(href="#" target="_blank")
      i.icon-whatsapp

    a.share__list-item(href="#" target="_blank")
      i.icon-twitter
