.roadmaps
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #fff

  &__container
    +container()
    text-align: center
    position: relative

  &__title
    z-index: 1
    color: #000
    font-size: 32px
    position: relative
    margin-bottom: 40px
    font-family: $font-secondary

    +bp(sm)
      font-size: 36px

    +bp(lg, max)
      padding: 0 15px

    &:before
      content: ""
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -2
      width: 95%
      height: 1px
      margin: auto
      position: absolute
      background-color: #000

    &:after
      content: ""
      top: 0
      left: -10px
      right: 0
      bottom: 0
      width: 70%
      z-index: -1
      height: 5px
      margin: auto
      position: absolute
      background-color: #fff

      +bp(sm)
        width: 50%

      +bp(lg)
        width: 300px

  &__description
    color: #000
    font-size: 18px
    margin-bottom: 30px

    +bp(lg)
      line-height: 25px

    +bp(xl)
      line-height: 28px

  &__list
    width: 100%
    display: flex
    flex-wrap: wrap
    position: relative
    align-items: center
    justify-content: space-around

    +bp(lg, max)
      margin-bottom: 20px

    &-item
      width: 70%
      padding: 12px
      min-width: 200px
      overflow: hidden
      margin: 30px auto
      border-radius: 5px
      position: relative
      box-sizing: border-box
      background-color: #fff
      border: 1px solid #e4e4e4
      +transition(300ms)

      +bp(400)
        padding: 20px

      +bp(sm)
        width: calc(85% / 2 - 10px)

      +bp(lg)
        margin: 50px 40px
        width: calc(85% / 3 - 80px)

      +bp(xl)
        margin: 50px
        width: calc(82% / 3 - 100px)

      &:hover
        box-shadow: 0px 0px 20px 3px rgba(#363636,0.2)

      picture
        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative
        margin-bottom: 15px

        +bp(lg, max)
          width: 100%

      &__title
        color: #000
        font-size: 15px
        font-weight: 500
        margin-bottom: 15px

        +bp(400)
          font-size: 16px

        +bp(sm)
          font-size: 17px
          line-height: 20px

      &__link
        width: 100%
        color: #fff
        padding: 8px 0
        margin: 0 auto
        display: block
        font-size: 12px
        max-width: 140px
        background-color: #000
        text-transform: uppercase
        +transition(300ms)

        &:hover
          background-color: $color-primary
