.hero
  .hero__list.swiper-container
    .swiper-wrapper
      .hero__list-item.swiper-slide
        h1.hero__list-item__subtitle Espanha

        picture
          source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-medium.jpg")
          source(media="(max-width: 600px)" srcset="assets/images/data/barcelona-medium-large.jpg")
          img.hero__list-item__image(src="assets/images/data/barcelona-full-small.jpg" alt="item")
