.cities
  width: 100%
  padding: 25px 0
  overflow: hidden
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 50px 0

  &__container
    +container(1400px)
    position: relative

    +bp(2000)
      max-width: 1920px

    +bp(lg, max)
      padding: 0

  &__list
    width: 100%
    display: flex
    flex-wrap: wrap
    position: relative
    align-items: center
    justify-content: center

    +bp(lg)
      justify-content: space-around

    &-item
      margin: 5px
      overflow: hidden
      position: relative
      width: calc(100% / 2 - 10px)

      +bp(md)
        width: calc(100% / 3 - 10px)

      +bp(lg)
        margin: 10px
        height: 270px
        width: calc(90% / 3 - 20px)

      +bp(xl)
        height: 300px

      +bp(1500)
        margin: 20px
        width: calc(95% / 3 - 40px)

      &:hover &__title
        font-weight: 400
        background-color: #fff

      &:hover picture
        transform: scale(1.1) rotateZ(2deg)

      &__box
        width: 100%
        height: 100%
        display: flex
        position: relative
        align-items: center
        justify-content: center

      &__title
        left: 0
        right: 0
        z-index: 5
        width: 100%
        color: #000
        margin: auto
        display: block
        font-size: 18px
        font-weight: 300
        max-width: 140px
        padding: 10px 5px
        text-align: center
        position: absolute
        text-transform: uppercase
        background-color: rgba(#fff, 0.9)
        transition: background 300ms ease

        +bp(sm)
          font-size: 19px
          max-width: 180px

        +bp(lg)
          font-size: 22px

      picture
        +transition(300ms)

        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(lg, max)
          width: 100%
