.hero
  width: 100%
  overflow: hidden
  position: relative
  background-color: #d1d8e2

  &--post &__list-item__subtitle
    max-width: 640px

  &__list
    width: 100%
    position: relative

    &-item
      display: flex
      overflow: hidden
      position: relative
      align-items: center
      box-sizing: border-box
      justify-content: center

      +bp(lg, max)
        &.swiper-slide-active &__link
          opacity: 1
          transform: scale(1)

      &__link
        z-index: 5
        padding: 10px
        position: absolute
        background-color: rgba(#fff, 0.9)
        +transition(300ms)

        +bp(lg)
          left: 0
          padding: 20px
          max-width: 500px

        +bp(xl)
          max-width: 800px
          padding: 20px 50px

        +bp(1500)
          bottom: 70px
          padding: 35px 45px

        +bp(lg, max)
          opacity: 0
          width: 100%
          max-width: 90%
          max-height: 90%
          overflow: hidden
          text-align: center
          transform: scale(0.8)

        &:hover
          background-color: #fff

        &:hover h3
          font-weight: 400

        &:hover + picture
          transform: scale(1.1) rotateZ(1deg)

      &__title
        color: #000
        display: block
        font-size: 22px
        font-weight: 300

        +bp(sm)
          font-size: 30px

        +bp(md)
          font-size: 35px

        +bp(xl)
          font-size: 40px

        +bp(1500)
          font-size: 45px

      &__subtitle
        left: 0
        right: 0
        z-index: 5
        color: #000
        width: auto
        margin: auto
        display: block
        font-size: 22px
        font-weight: 300
        max-width: 200px
        padding: 20px 5px
        text-align: center
        position: absolute
        text-transform: uppercase
        background-color: rgba(#fff, 0.9)
        transition: background 300ms ease

        +bp(sm)
          font-size: 30px
          max-width: 280px

        +bp(md)
          font-size: 32px
          max-width: 360px
          padding: 25px 5px

      picture
        +transition(300ms)

        +bp(xxl)
          width: 100%

        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(xxl)
          width: 100%

        +bp(lg, max)
          width: 100%

  &__nav
    &--prev
    &--next
