.newsletter
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: $color-secondary

  +bp(lg)
    background-size: cover
    background-position: center
    background-image: url(../images/newsletter/newsletter-bg.jpg)

  &__container
    display: flex
    +container(980px)
    position: relative
    align-items: center
    flex-direction: column
    justify-content: space-around

    +bp(lg)
      flex-direction: row

    +bp(lg, max)
      text-align: center

  &__box
    position: relative

    +bp(lg)
      margin-left: 25px

    +bp(lg, max)
      margin-top: 40px

  &__avatar
    position: relative

  &__title
    color: #fff
    padding: 10px 0
    font-size: 27px
    font-weight: 500
    margin-bottom: 20px
    border-top: 1px solid #fff
    border-bottom: 1px solid #fff

    +bp(sm)
      font-size: 32px

  &__description
    color: #fff
    font-size: 18px
    margin-bottom: 30px

    +bp(lg)
      line-height: 25px

    +bp(xl)
      line-height: 28px

  &__form
    width: 100%
    position: relative

    &-box
      width: 100%
      position: relative
      display: inline-block
      vertical-align: middle

      +bp(md)
        width: 49.7%

      +bp(lg)
        width: 33%

      & + &
        +bp(md, max)
          margin-top: 10px

    &-input
      border: 0
      outline: 0
      width: 100%
      color: #000
      display: block
      font-size: 18px
      padding: 12px 20px
      position: relative
      background-color: #fff

      +bp(lg)
        padding: 10px 20px

      +bp(lg, max)
        text-align: center

      +placeholder
        color: #000

      &.error
        background-color: $color-danger

    label.error
      top: 0
      left: 0
      color: #fff
      font-size: 16px
      position: absolute
      transform: translateY(-22px)

      +bp(lg)
        left: 5px

      +bp(md, max)
        display: none !important

      +bp(lg, max)
        width: 100%
        text-align: center

    &-submit
      border: 0
      outline: 0
      width: 100%
      color: #fff
      font-size: 18px
      font-weight: 500
      padding: 12px 5px
      text-align: center
      letter-spacing: 2px
      display: inline-block
      background-color: #000
      vertical-align: middle
      text-transform: uppercase
      +transition(300ms)

      +bp(lg)
        width: 33%
        padding: 10px 5px

      +bp(lg, max)
        margin-top: 10px

      &:hover
        background-color: #0c0f13
