.photos
  width: 100%
  padding: 50px 0
  position: relative
  background-color: #fff

  +bp(lg)
    padding-left: 10px
    padding-right: 10px

  &__list
    width: 100%
    position: relative

    &-item
      overflow: hidden
      position: relative
      box-sizing: border-box

      picture
        +transition(300ms)

        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative

        +bp(lg, max)
          width: 100%
