.roadmap
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #fff

  +bp(lg)
    padding: 50px 0 150px
    background-size: cover
    background-position: center
    background-image: url(../images/roadmap/roadmap-bg.jpg)

  &__container
    +container(860px)
    text-align: center
    position: relative

    +bp(xl)
      max-width: 940px

    +bp(2400)
      max-width: 1780px

    +bp(lg, max)
      padding: 0

  &__title
    z-index: 1
    color: #000
    font-size: 32px
    position: relative
    margin-bottom: 40px
    font-family: $font-secondary

    +bp(sm)
      font-size: 36px

    +bp(lg, max)
      padding: 0 15px

    &:before
      content: ""
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -2
      width: 95%
      height: 1px
      margin: auto
      position: absolute
      background-color: #000

    &:after
      content: ""
      top: 0
      left: -10px
      right: 0
      bottom: 0
      width: 70%
      z-index: -1
      height: 5px
      margin: auto
      position: absolute
      background-color: #fff

      +bp(sm)
        width: 50%

      +bp(lg)
        width: 300px

  &__description
    color: #000
    font-size: 18px
    margin-bottom: 80px

    +bp(lg)
      line-height: 25px

    +bp(xl)
      line-height: 28px

    +bp(lg, max)
      padding: 0 15px

  &__wrapper
    width: 100%
    position: relative

  &__list
    width: 100%
    padding: 20px 0
    position: relative

    &-item
      padding: 12px
      overflow: hidden
      border-radius: 5px
      position: relative
      box-sizing: border-box
      background-color: #fff
      border: 1px solid #e4e4e4
      +transition(300ms)

      +bp(400)
        padding: 20px

      +bp(lg)
        &.swiper-slide-active
          box-shadow: 0px 0px 20px 3px rgba(#363636,0.2)

      picture
        +bp(lg, max)
          width: 100%

      &__image
        display: block
        position: relative
        margin-bottom: 15px

        +bp(lg, max)
          width: 100%

      &__title
        color: #000
        font-size: 15px
        font-weight: 500
        margin-bottom: 15px

        +bp(400)
          font-size: 16px

        +bp(sm)
          font-size: 17px
          line-height: 20px

      &__link
        width: 100%
        color: #fff
        padding: 8px 0
        margin: 0 auto
        display: block
        font-size: 12px
        max-width: 140px
        background-color: #000
        text-transform: uppercase
        +transition(300ms)

        &:hover
          background-color: $color-primary

  &__nav
    top: 0
    bottom: 0
    z-index: 10
    margin: auto
    height: 54px
    display: none
    font-size: 54px
    cursor: pointer
    position: absolute
    +transition(300ms)

    +bp(lg)
      display: block

    &:hover
      color: $color-primary

    &--prev
      left: 0
      transform: translateX(-60px)

      +bp(xl)
        transform: translateX(-80px)

    &--next
      right: 0
      transform: translateX(60px)

      +bp(xl)
        transform: translateX(80px)
