.social
  .social__container
    .social__box
      p.social__title Newsletter
      p.social__description Receba as melhores dicas de viagem

      form.social__form(action="#")
        input.social__form-input(type="email" name="email" placeholder="Email" required)
        button.social__form-submit(type="submit") Assinar

    .social__box
      p.social__title Me segue!
      p.social__description Vem comigo nas redes sociais

      .social__list
        a.social__list-item(href="https://www.facebook.com/vemcomigofr" title="Facebook" target="_blank")
          i.icon-facebook
          p Facebook

        a.social__list-item(href="https://www.instagram.com/vemcomigofr" title="Instagram" target="_blank")
          i.icon-instagram
          p Instagram

        a.social__list-item(href="#" title="Pinterest" target="_blank")
          i.icon-pinterest
          p Pinterest

    .social__marketing
      a.social__marketing-link(href="#" title="marketing")
        img.social__marketing-image(src="assets/images/marketing.jpg", alt="marketing")
