.contact
  width: 100%
  position: relative
  background-color: #fff

  &__header
    width: 100%
    padding: 50px 0
    position: relative
    background-color: #fff
    background-position: center
    background-image: url(../images/contact/contact-bg.jpg)

    +bp(lg, max)
      background-size: cover

    &-container
      +container()
      display: flex
      position: relative
      align-items: center
      flex-direction: column
      justify-content: center

      +bp(lg)
        flex-direction: row

    &-box
      text-align: center
      position: relative

      & + &
        +bp(lg)
          margin-left: 100px

    &-title
      color: #fff
      font-size: 48px
      font-family: $font-secondary

      +bp(sm)
        font-size: 55px

    &-subtitle
      z-index: 1
      font-size: 17px
      font-weight: 300
      position: relative
      letter-spacing: 2px
      text-transform: uppercase

      +bp(sm)
        font-size: 18px

      &:before
        content: ""
        top: 0
        bottom: 0
        left: 50%
        z-index: -1
        margin: auto
        width: 254px
        height: 36px
        position: absolute
        background-size: contain
        background-position: center
        background-image: url(../images/brush6.png)
        transform: translateX(-50%)

    &-avatar
      display: none

      +bp(lg)
        display: block

  &__container
    text-align: center
    position: relative
    +container(620px, 80px 15px)

  &__description
    color: #000
    font-size: 18px
    position: relative
    margin-bottom: 50px

    a
      outline: 0
      +transition(300ms)
      color: $color-primary

      &:hover
        color: #8eaeda

  &__form
    width: 100%
    position: relative

    &-input,
    &-textarea
      outline: 0
      width: 100%
      padding: 15px
      font-size: 14px
      line-height: 15px
      margin-bottom: 12px
      border: 1px solid #000
      text-transform: uppercase

      +bp(lg, max)
        text-align: center

      +placeholder
        color: #000

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-textarea
      resize: none
      height: 205px

    &-button
      border: 0
      outline: 0
      width: 100%
      display: block
      font-size: 14px
      padding: 16px 5px
      text-align: center
      text-transform: uppercase
      background-color: $color-secondary
      +transition(300ms)

      &:hover
        background-color: #8eaeda

  &__col--6
    width: 100%
    position: relative

    +bp(lg)
      width: 49%
      display: inline-block

      & + &
        margin-left: 8px
