.featured
  .featured__container
    .featured__head
      .featured__box
        img.featured__icon(src="assets/images/icons/paris.png", alt="icon")
        h1.featured__title Paris

      .featured__box
        picture
          source(media="(max-width: 400px)" srcset="assets/images/data/restaurant-medium.jpg")
          img.featured__image(src="assets/images/data/restaurant-medium-large.jpg" alt="item")

    p.featured__description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
