.related
  .related__container
    p.related__title Veja Tambem

    .related__wrapper
      .related__list.swiper-container
        .swiper-wrapper
          each index in [1,2,3,4,5,6]
            a.related__list-item.swiper-slide(href="top-destinos.html")
              p.related__list-item__title Espanha

              picture
                source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-medium.jpg")
                img.related__list-item__image(src="assets/images/data/barcelona-medium-small.jpg" alt="item")

      .related__nav.related__nav--prev.icon-arrow-left
      .related__nav.related__nav--next.icon-arrow-right
