.search
  .search__container
    p.search__title
      i.icon-search
      | Busque Aqui

    form.search__form(action="#")
      input.search__form-input(type="search" name="s" placeholder="Não encontrou o que procurava?" required)

      button.search__form-submit(type="submit")
        i.icon-next
