section.destiny.destiny--gray
  .destiny__container
    h2.destiny__title
      i.icon-ticket
      | O que fazer?

    .destiny__list
        a.destiny__list-item(href="post.html")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/paris-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/paris-medium-large.jpg" alt="item")

          .destiny__list-item__box
            h3.destiny__list-item__title As melhores dicas e sugestões de hospedagem em Paris

        a.destiny__list-item(href="post.html")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/londres-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/londres-medium-large.jpg" alt="item")

          .destiny__list-item__box
            h3.destiny__list-item__title As melhores dicas e sugestões de hospedagem em Londres

        a.destiny__list-item(href="post.html")
          picture
            source(media="(max-width: 400px)" srcset="assets/images/data/barcelona-medium.jpg")
            img.cities__list-item__image(src="assets/images/data/barcelona-medium-large.jpg" alt="item")

          .destiny__list-item__box
            h3.destiny__list-item__title As melhores dicas e sugestões de hospedagem em Barcelona

    a.destiny__link(href="#" title="Ver Mais") Ver Mais
