.about
  width: 100%
  padding: 50px 0
  overflow: hidden
  position: relative
  background-color: #fff

  &__container
    +container(940px)
    text-align: center
    position: relative

  &__box
    width: 100%
    margin-top: 40px
    position: relative

  &__title
    z-index: 1
    color: #000
    font-size: 32px
    text-align: center
    position: relative
    font-family: $font-secondary

    +bp(sm)
      font-size: 36px

    +bp(lg, max)
      padding: 0 15px

    &:before
      content: ""
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -2
      width: 100%
      height: 1px
      margin: auto
      position: absolute
      background-color: #000

    &:after
      content: ""
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 70%
      z-index: -1
      height: 5px
      margin: auto
      position: absolute
      background-color: #fff

      +bp(sm)
        width: 50%

      +bp(lg)
        width: 300px

  picture
    +transition(300ms)

    +bp(lg, max)
      width: 100%

  &__image
    display: block
    position: relative

    +bp(lg, max)
      width: 100%

  &__description
    color: #000
    font-size: 18px
    padding: 50px 0
    position: relative

    +bp(lg)
      line-height: 25px

    +bp(xl)
      line-height: 28px

    a
      outline: 0
      color: $color-primary
      +transition(300ms)

      &:hover
        color: #8eaeda

    blockquote
      color: #637da0
      margin: 0 auto
      font-size: 28px
      text-align: left
      max-width: 785px
      font-style: italic
      position: relative
      padding: 40px 0 15px 20px
      border-left: 1px solid #637da0

      +bp(lg)
        font-size: 32px
        line-height: 36px
        padding: 60px 0 15px 40px

      &:before
        content: "“"
        top: 0
        left: 20px
        color: #b7cce8
        display: block
        font-size: 55px
        position: absolute
        font-weight: bold
        font-style: normal

        +bp(lg)
          top: 25px
          left: 40px
          font-size: 72px

  &__copyright
    z-index: 1
    color: #8a8a8a
    font-size: 18px
    position: relative
    display: inline-block
    font-family: $font-secondary

    &:before
      content: ""
      left: 0
      right: 0
      bottom: -8px
      z-index: -1
      margin: auto
      width: 167px
      height: 7px
      position: absolute
      background-size: contain
      background-position: center
      background-image: url(../images/brush8.png)

    small
      color: #000
      display: block
      font-size: 10px
      margin-bottom: 10px
      text-transform: uppercase
      font-family: $font-primary
