.alert
  top: 0
  left: 0
  width: 100%
  color: #fff
  z-index: 99999
  font-size: 18px
  position: fixed
  overflow: hidden
  padding: 21px 8px
  text-align: center
  letter-spacing: 1px
  text-transform: uppercase
  transform: translateY(-100%)
  +transition(300ms)

  +bp(sm)
    font-size: 20px

  +bp(lg)
    letter-spacing: 2px

  &.is-active
    transform: translateY(0)

  &.is-success
    background-color: $color-success

  &.is-error
    background-color: $color-danger
