.breadcrumbs
  width: 100%
  padding: 25px 0
  position: relative
  background-color: #fff

  &__container
    +container(1100px)
    position: relative

    +bp(sm, max)
      padding: 0 5px

  &__list
    width: 100%
    color: #8093ad
    overflow: hidden
    position: relative
    white-space: nowrap
    text-overflow: ellipsis

    li
      display: inline
      position: relative
      vertical-align: middle

      &:last-child a
        color: #8093ad
        text-decoration: underline

    li + li
      margin-left: 10px

      +bp(sm)
        margin-left: 15px

      &:before
        content: "\e901"
        top: 7px
        left: -12px
        margin: auto
        height: 11px
        font-size: 11px
        font-family: icons
        position: absolute
        pointer-events: none

        +bp(sm)
          left: -16px
          font-size: 13px

    a
      color: #939393
      font-size: 12px
      text-transform: uppercase
      +transition(300ms)

      &:hover
        color: #8093ad
        text-decoration: underline
