.footer
  width: 100%
  padding-top: 20px
  position: relative
  padding-bottom: 2px
  background-color: #f5f5f5

  &__container
    +container(1000px)
    text-align: center
    position: relative

  &__content
    width: 100%
    display: flex
    position: relative
    align-items: center
    margin-bottom: 30px
    flex-direction: column
    justify-content: space-between

    +bp(lg)
      flex-direction: row

  &__box
    position: relative

    +bp(lg, max)
      width: 100%

    & + &
      +bp(lg, max)
        margin-top: 40px

  &__title
    color: #575757
    padding: 5px 0
    font-size: 16px
    font-weight: 300
    position: relative
    margin-bottom: 15px

    &:after,
    &:before
      content: ""
      left: 0
      right: 0
      width: 75px
      height: 1px
      margin: auto
      position: absolute
      background-color: #d1d1d1

    &:after
      top: 0

    &:before
      bottom: 0

  &__social
    width: 100%
    position: relative

    &-item
      color: #d1d1d1
      font-size: 40px
      display: inline-block
      vertical-align: middle
      +transition(300ms)

      &:hover
        color: #5d5d5d

        +bp(lg)
          transform: scale(1.1)

      & + &
        margin-left: 15px

  &__logo
    width: 85px
    height: 85px
    color: #a9a9a9
    display: block
    margin: 0 auto
    position: relative
    +transition(300ms)

    &:hover
      color: #5d5d5d

    &-icon
      width: inherit
      height: inherit
      position: relative

  &__menu
    width: 100%
    margin-top: 15px
    position: relative

    &-item
      color: #a9a9a9
      font-size: 12px
      position: relative
      letter-spacing: 2px
      display: inline-block
      vertical-align: middle
      text-transform: uppercase
      transition: 300ms color ease

      &:hover
        color: #5d5d5d
        font-weight: 500

      &:hover:before
        width: 100%

      &:before
        content: ""
        left: 0
        right: 0
        bottom: -4px
        width: 0
        height: 1px
        margin: auto
        position: absolute
        background-color: #000
        +transition(300ms)

      & + &
        margin-left: 15px

        +bp(sm)
          margin-left: 30px

        &:after
          content: "|"
          top: 0
          left: 0
          bottom: 0
          z-index: 1
          color: #a9a9a9
          margin: 0 auto
          position: absolute
          transform: translateX(-10px)

          +bp(sm)
            transform: translateX(-15px)

  &__search
    height: 40px
    overflow: hidden
    position: relative
    border-radius: 50px
    display: inline-block
    background-color: #fff
    border: 1px solid #d1d1d1
    padding: 6px 10px 6px 20px
    +transition(300ms)

    +bp(lg)
      padding: 6px 20px

    &:hover
      border-color: #939393

    &-input
      border: 0
      outline: 0
      width: 140px
      color: #414141
      font-size: 15px
      line-height: 24px
      font-style: italic
      letter-spacing: 1px
      display: inline-block
      background-color: transparent
      border-bottom: 1px solid #414141
      +transition(300ms)

      +bp(350)
        width: 180px

      +bp(380)
        width: 190px

      +bp(lg)
        margin-right: 20px

      +placeholder
        color: #414141

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-submit
      border: 0
      outline: 0
      padding: 0
      width: 30px
      font-size: 25px
      line-height: 25px
      color: $color-primary
      display: inline-block
      vertical-align: middle
      background-color: transparent

      +bp(lg)
        top: 0
        right: 0
        width: 40px
        font-size: 17px
        line-height: 40px
        position: absolute

  &__copyright
    color: #5d5d5d
    padding: 10px 0
    font-size: 15px
    border-top: 1px solid #d1d1d1

    +bp(sm)
      font-size: 14px

    +bp(lg)
      letter-spacing: 1px

    a,
    strong
      color: #555
      font-weight: 700
