.header
  top: 0
  left: 0
  width: 100%
  height: 65px
  z-index: 99999
  display: block
  position: fixed
  background-color: #fff
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd

  +bp(lg)
    position: absolute
    transform: translate3d(0, 200px, 0)

    &.is-active
      position: fixed
      transform: translate3d(0, 0, 0)

  &__container
    +container()
    height: 100%
    display: flex
    position: relative
    align-items: center
    justify-content: space-between

  &__logo
    z-index: 20
    width: 45px
    height: 45px
    display: block
    position: relative
    color: $color-primary

    +bp(lg)
      +transition(300ms)

    &:hover
      color: #5d5d5d

    &-icon
      width: inherit
      height: inherit
      position: relative

  &__menu
    user-select: none
    position: relative
    +transition(300ms)

    +bp(lg)
      margin-left: -25px

    +bp(xl)
      margin-left: -46px

    +bp(lg, max)
      top: 0
      left: 0
      right: 0
      bottom: 0
      opacity: 0
      z-index: 20
      width: 100%
      height: 100%
      margin: auto
      display: flex
      overflow: auto
      position: fixed
      text-align: center
      align-items: center
      pointer-events: none
      flex-direction: column
      justify-content: center
      background-color: #fff
      transform: scale(0.9)

      &.is-active
        opacity: 1
        pointer-events: all
        transform: scale(1)

      &.is-active > li
        animation-name: fadeInUp
        animation-duration: 600ms
        animation-fill-mode: both
        animation-iteration-count: 1
        animation-timing-function: ease

      &.is-active > li:nth-child(1)
        animation-delay: 100ms

      &.is-active > li:nth-child(2)
        animation-delay: 200ms

      &.is-active > li:nth-child(3)
        animation-delay: 300ms

      &.is-active > li:nth-child(4)
        animation-delay: 400ms

      &.is-active > li:nth-child(5)
        animation-delay: 500ms

      &.is-active > li:nth-child(6)
        animation-delay: 600ms

      &.is-active > li:nth-child(7)
        animation-delay: 700ms

      &.is-active > li:nth-child(8)
        animation-delay: 800ms

      &.is-active > li:nth-child(9)
        animation-delay: 900ms

    & > li
      display: block
      position: relative

      +bp(lg)
        display: inline-block

        &:hover > a
          font-weight: 500

        &:hover > a:before
          width: 60%

        &:hover .header__submenu
          opacity: 1
          pointer-events: all
          transform: translateY(22px) translateX(-50%)

      &.logo
        +bp(lg)
          display: none

    & > li + li
      +bp(lg)
        margin-left: 25px

      +bp(xl)
        margin-left: 46px

      +bp(lg, max)
        margin-top: 15px

    &-item
      z-index: 2
      color: #000
      display: block
      cursor: pointer
      font-size: 14px
      position: relative
      text-transform: uppercase

      +bp(1050)
        letter-spacing: 1px

      +bp(1300)
        letter-spacing: 2px

      +bp(lg, max)
        font-size: 23px
        font-weight: bold
        letter-spacing: 1px

      &:before
        +bp(lg)
          content: ""
          left: 0
          right: 0
          bottom: -4px
          width: 0
          height: 1px
          margin: auto
          position: absolute
          background-color: #000
          +transition(300ms)

  &__submenu
    +bp(lg)
      top: 100%
      left: 50%
      opacity: 0
      z-index: 1
      width: 190px
      margin: auto
      position: absolute
      pointer-events: none
      border: 1px solid #d1d1d1
      background-color: #f8f8f8
      transform: translateY(32px) translateX(-50%)
      +transition(300ms)

    +bp(lg, max)
      display: none
      padding: 5px 0

    &:before
      +bp(lg)
        content: ""
        top: 0
        left: 0
        z-index: -1
        width: 100%
        height: 50px
        position: absolute
        transform: translateY(-50px)

    & > li
      display: block
      position: relative

      +bp(lg)
        &:hover > a
          font-weight: 500
          background-color: #d1d1d1

    &-item
      color: #000
      display: block
      font-size: 14px
      position: relative
      letter-spacing: 1px
      text-transform: uppercase
      transition: 300ms background ease

      +bp(lg)
        padding: 8px 5px
        text-align: center

      +bp(1300)
        letter-spacing: 2px

      +bp(lg, max)
        padding: 5px 0
        font-size: 19px
        font-weight: 500
        letter-spacing: 2px

  &__search
    +bp(lg)
      right: 0
      margin: 0
      z-index: 5
      height: 40px
      overflow: hidden
      padding: 6px 19px
      position: relative
      border-radius: 50px
      display: inline-block
      vertical-align: middle
      border: 1px solid #d1d1d1
      background-color: #f8f8f8
      +transition(300ms)

      &:hover
        border-color: #c3c3c3

      &:hover &-input
        opacity: 1
        width: 140px

        +bp(350)
          width: 180px

        +bp(380)
          width: 190px

        +bp(lg)
          width: 120px
          margin-right: 20px

        +bp(xl)
          width: 190px

    +bp(lg, max)
      top: 0
      left: 0
      opacity: 0
      z-index: 30
      width: 100%
      height: 100%
      display: flex
      position: absolute
      align-items: center
      pointer-events: none
      background-color: #fff
      justify-content: center
      transform: translateY(-100%)
      transition: 300ms opacity ease, 300ms transform ease

      &.is-active
        opacity: 1
        pointer-events: all
        transform: translateY(0)

    &-back
      border: 0
      outline: 0
      padding: 0
      width: 62px
      height: 100%
      font-size: 25px
      line-height: 25px
      text-align: center
      position: relative
      display: inline-block
      vertical-align: middle
      background-color: transparent

      +bp(lg)
        display: none

    &-input
      border: 0
      outline: 0
      width: 90%
      height: 100%
      color: #414141
      font-size: 15px
      padding: 0 10px
      line-height: 24px
      font-style: italic
      letter-spacing: 1px
      display: inline-block
      background-color: transparent
      +transition(300ms)

      +bp(lg)
        width: 0
        opacity: 0
        padding: 0
        border-bottom: 1px solid #414141

      +placeholder
        color: #414141

      &.error
        color: $color-danger
        border-color: $color-danger

        +placeholder
          color: $color-danger

    &-submit
      border: 0
      outline: 0
      padding: 0
      width: 70px
      height: 100%
      font-size: 25px
      line-height: 25px
      color: $color-primary
      display: inline-block
      vertical-align: middle
      background-color: transparent

      +bp(lg)
        top: 0
        right: 0
        width: 38px
        font-size: 17px
        line-height: 40px
        position: absolute

  &__box
    position: relative

    +bp(lg)
      display: none

  &__opensearch
    border: 0
    outline: 0
    padding: 0
    cursor: pointer
    font-size: 25px
    line-height: 25px
    color: $color-primary
    display: inline-block
    vertical-align: middle
    background-color: transparent

    +bp(lg)
      display: none

  &__navigation
    z-index: 25
    width: 38px
    height: 38px
    cursor: pointer
    margin-left: 15px
    position: relative
    display: inline-block
    vertical-align: middle
    +transition(300ms)

    +bp(lg)
      display: none

    &.is-active span
      background-color: transparent

    &.is-active span:after,
    &.is-active span:before
      top: 0

    &.is-active span:after
      transform: rotate(45deg)

    &.is-active span:before
      transform: rotate(-45deg)

    span
      top: 0
      bottom: 0

      &,
      &:after,
      &:before,
        left: 0
        right: 0
        width: 36px
        height: 2px
        margin: auto
        position: absolute
        background-color: $color-primary
        +transition(300ms)

      &:after,
      &:before,
        content: ""

      &:after
        top: 10px

      &:before
        top: -10px
