.head
  width: 100%
  height: 200px
  display: none
  overflow: hidden
  position: relative
  background-color: #fff

  +bp(lg)
    display: flex
    align-items: center
    margin-bottom: 65px
    justify-content: center

  &__container
    position: relative
    background-size: contain
    background-position: center
    background-image: url(../images/splash.jpg)

  &__link
    position: relative
    display: inline-block

  &__logo
    width: 150px
    height: 150px
    display: block
    position: relative
    color: $color-primary
