.pagination
  width: 100%
  padding: 0 15px
  user-select: none
  text-align: center
  position: relative

  .page-numbers
    width: 35px
    height: 35px
    color: #898989
    margin: 5px 0
    font-size: 15px
    overflow: hidden
    line-height: 35px
    text-align: center
    position: relative
    vertical-align: top
    display: inline-block
    background-color: #f5f5f5
    border: 1px solid #d4d4d4
    text-transform: uppercase
    +transition(300ms)

    & + .page-numbers
      margin-left: 12px

  a:hover,
  .current
    color: #fff
    background-color: #5d5d5d

  .prev,
  .next
    line-height: 39px
    background-color: #fff

  .dots
