.scrolltop
  opacity: 0
  right: 5px
  bottom: 5px
  z-index: 9999
  display: block
  cursor: pointer
  position: fixed
  user-select: none
  text-align: center
  pointer-events: none
  +transition(300ms)

  +bp(lg)
    right: 15px
    bottom: 15px

  +bp(xl)
    right: 30px
    bottom: 25px

  +bp(lg, max)
    transform: scale(0.9)

  &:hover &-icon
    background-color: #414141

  &:hover &-title
    color: #414141

  &.is-active
    opacity: 1
    pointer-events: all

  &.is-active &-icon
    transform: scale(1)

  &-icon
    color: #fff
    width: 60px
    height: 60px
    overflow: hidden
    line-height: 63px
    text-align: center
    border-radius: 60px
    background-color: #545454
    transform: scale(0.4)
    +transition(300ms)

    i
      color: inherit
      font-size: 18px

  &-title
    display: none
    color: #797979
    font-size: 16px
    margin-top: 5px
    text-transform: lowercase
    +transition(300ms)

    +bp(xl)
      display: block
