extends /layouts/application

block main
  h1.hidden #{title}: Roteiros e dicas para viajar pela Europa

  include /pages/home/hero
  include /pages/home/cities
  include /pages/home/newsletter
  include /pages/home/posts
  include /pages/home/roadmap
  include /pages/home/photos
