extends /layouts/application

block main
  include /pages/post/hero
  .post__content
    include /components/breadcrumbs
    include /pages/post/author
    include /pages/post/main
    include /pages/post/share
    include /pages/post/relational
    include /pages/post/comments
    include /pages/posts/social
