extends /layouts/application

block main
  include /pages/destiny/featured
  include /pages/destiny/section-01
  include /pages/destiny/section-02
  include /pages/destiny/section-03
  include /pages/destiny/search
  include /pages/destiny/related
